.description-container {
  background-color: #ffffff;
  border-left: 1px solid rgba(0, 0, 0, 0.12);
  padding-left: 0;
  padding-right: 0;
}
.triangle-parent {
  padding-right: 0;
}
.konvajs-content {
  width: 100% !important;
  height: 100% !important;
}
.btn {
  border-radius: 0;
  font-size: 26px;
  color: #000;
}
.triangle-container {
  background-color: #fafafa;
  padding-right: 0;
}
.lab-title {
  padding-top: 1.2rem;
  padding-bottom: 1rem;
  padding-left: 3rem;
  background: #2196F5;
  color: #fff;
  font-size: 2rem;
}
