.description-container {
  background-color: #35baf6;
  padding-left: 0;
  padding-right: 0;
}
.triangle-parent {
  padding-right: 0;
}
.triangle-container {
  background-color: #F9FBE7;
}
.konvajs-content {
  width: 100% !important;
  height: 100% !important;
}
.btn {
  border-radius: 0;
  font-size: 26px;
  color: #000;
}
.lab-title {
  text-align: center;
  padding-top: 1rem;
}
