.observe-button, .test-button {
  width: 50%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: 100;
}
.test-button, .test-button:hover {
  border: 1px solid #dedede;
  color: #dedede;
  background-color: rgba(0,0,0,0);
}
.test-button-active, .observe-button-active {
  background-color: #dedede;
  font-weight: bold;
}
.test-button-active:hover,
.observe-button-active:hover {
  background-color: #EEEEEE;
  COLOR: #555555;
}
.description-symetrie {
   margin-top: 5rem;
   margin-bottom: 2rem;
 }
.dots-or-line-choice {
  padding: 0 4rem 3rem;
}
.btn.disabled, .btn:disabled, #disabledBtn {
  cursor: help;
}
.description-title {
  font-size: 1.3rem;
  padding: 2rem;
  color: rgba(0, 0, 0, .70);
}
.display-grid, .display-line {
  font-size: 1.5rem;
}
.short-description {
  margin-top: 3rem;
}
.radio-buton:nth-child(even) div div div div {
  height: 1.1rem !important;
  width: 1.1rem !important;
}

.radio-buton:nth-child(even) div div div div div {
  height: .5rem !important;
  width: .5rem !important;
}
.short-description h2, .description-symetrie, .description-choice {
  color: rgba(0, 0, 0, .70);
}
.modal-container {
  text-align: right;
}
.setting-icon {
  width: 2rem;
  cursor: pointer;
  margin-right: 2rem;
  margin-bottom: 1rem;
}
