.observe-button, .test-button {
  width: 50%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-weight: 100;
}
.test-button-active, .observe-button-active {
  background-color: #F9FBE7;
  font-weight: bold;
}
.description-symetrie {
   margin-top: 5rem;
   margin-bottom: 2rem;
 }
.dots-or-line-choice {
  padding: 0 4rem 3rem;
}
.btn.disabled, .btn:disabled, #disabledBtn {
  cursor: help;
}
.description-title {
  font-size: 1.3rem;
  padding: 2rem;
}
.display-grid, .display-line {
  font-size: 1.5rem;
}
.short-description {
  margin-top: 3rem;
}

.radio-buton:nth-child(even) div div div div {
  height: 1.1rem !important;
  width: 1.1rem !important;
}

.radio-buton:nth-child(even) div div div div div {
  height: .5rem !important;
  width: .5rem !important;
}
