.description-choice {
  padding-bottom: 1rem;
  padding-bottom: 1rem;
  font-size: 1.5rem;
}
.forms-choice {
  padding-left: 1rem;
  padding-top: 1rem;
}
.rectangle-figure {
  padding-right: .6rem;
}
.polygon-figure {
  padding-right: 1.5rem;
}
.form-checker {
  cursor: pointer;
}
.forms-choice, .flex-parent {
  display: flex;
}
